<nav>
  <ul>
    <li>
      <a href="/create">Cretae</a>
    </li>
    <li>
      <a href="/details/1">Details</a>
    </li>
    <li>
      <a href="/">List</a>
    </li>
		<em>Variant: <%= typeof variant != 'undefined' ? variant : 'default' %></em>
  </ul>
</nav>
